$header_width: 400px;

#drawer {
  overflow: hidden;
  width: 0;
  transform: translateX(-1px);
  transition: 250ms width ease-in-out;

  + #header,
  ~ #content {
    transition: 250ms margin-left ease-in-out, 250ms width ease-in-out;
  }

  &.is-expanded {
    transform: translateX(0);
    width: $header_width;

    + #header {
      width: calc(100% - #{$header_width});
      margin-left: $header_width;
    }

    ~ #content {
      margin-left: $header_width;
    }
  }
}

#content {
  margin-left: 0;
}

#header {
  margin-left: 0;
  width: 100%;
}

.mdl-navigation {
  width: $header_width;
}

.mdl-layout__header-row {
  padding: 0 16px 0 22px;
}

#query-textfield {
  flex-grow: 1;
  color: white;
  margin-left: 16px;
  margin-right: 16px;

  label {
    color: white
  }

  input {
    border-bottom: 1px solid #fff;
  }
}

#command-loading {
  display: none;
}

.mdl-layout__drawer-button {
  display: none !important;
}

.getmdl-select {
  width: auto;
  margin-top: 8px;

  .mdl-textfield__label {
    padding-left: 16px;
  }

  .mdl-textfield__input {
    padding-left: 16px;
    padding-bottom: 10px;
  }
  .mdl-icon-toggle__label {
    margin-top: -40px;
    padding-right: 16px;
  }
}

.mdl-tabs {
  margin-top: -20px;
}

.mdl-data-table {
  overflow-y: scroll;
  height: 84vh;
  display: block;
  white-space: normal;
}

td:first-letter {
  text-transform: capitalize;
}

thead, tbody {
  display: table;
  width: 100%;
}