@import 'normalize';
@import 'flexboxgrid';

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 44px;
}

ul, ol {

  list-style: none;
}

footer {
  position: absolute;
  height: 44px;
  bottom: 0;
  padding: 0 30px;
}

label {
  display: block;
  line-height: 1.8;
}

input[type="radio"] + label,
input[type="checkbox"] + label {
  display: inline-block;
  margin: 0 5px;
}

form button[type="submit"] {
  margin-top: 1em;
}

.list-inline {
  display: inline-block;
  padding-left: 0;
  list-style: none;
}

.list-inline > li {
  display: inline-block;
  padding: 0 5px;
}

.container {
  padding-right: 2rem;
  padding-left: 2rem;
}

.text-success {
  color: #29b35b;
}

.text-danger {
  color: #b61b17;
}

.text-info {
  color: #31708f;
}

.avatar {
  margin-right: 5px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  vertical-align: middle;
}

.text-input {
  background-color: #2e80a9;
  text-align: center;
  padding: 10px;
  .mdl-textfield {
    width: 100%;
    margin-left: 60px;
    padding-right: 20px;
  }
  .col-xs-2 {
    margin-top: 14px;
  }
}

.mdl-layout__drawer.is-visible {
  width: 33%;
}

.mdl-layout__obfuscator.is-visible {
  display: none;
}

.mdl-layout__drawer-button {
  color: black !important;
}

.dataset-selection {
  text-align: center;
  margin-top: 30px;
}

.column-data {
  text-align: center;
  table {
    margin-left: 19%;
  }
}

.graph-container {
  height: 600px;
  padding: 35px;
  .plot {
    background-color: lightgray;
  }
}

.mdl-layout__drawer, .is-visible ~ .text-input {
  width: 66%;
  right: 0px;
  position: absolute;
}

.mdl-layout__drawer, .is-visible ~ .graph-container {
  width: 67%;
  right: 0;
  position: absolute;
  top: 13%;
}

.mdl-layout__drawer, .is-visible ~ .mdl-layout__drawer-button {
  left: 33%;
}